	
	#myhead
	{
	margin-left:10px;
	font-size:50px;
	font-family:verdana;
	text-decoration:underline;
	color:#ff00cc;
	}

		
	.myheading
	{
	margin-left:10px;	
	font-family:verdana;	
	font-weight:bold;
	}

	p
	{
	font-family:verdana;
	}
	
	#loginbox
	{
		
	border:1px solid blue;
	border-radius:5px;
	
	background:#e8eefa;	
	}
	
	span
	{
	font-family:verdana;
	font-size:12px;
	padding-bottom:3px;
	}

	#acc
	{
	font-size:14px;
	font-weight:bold;
	}

	

	#footerlink
	{
	margin-top:30px;
	
	}
	#footerbox
	{
	margin-top:30px;
			
	border:1px solid blue;
	background:#e8eefa;
	}
	
	.gap{
		margin-top:20px;
	}
	
	

	
	
	
	
	
	
	
	
	#headimg	
	{
	/*display:inline;*/
	}
	
	
	
	
	
