#bar
{
height:20px;
width:1000px;
color:red;
left:3px;
top:0px;
background:#c9d7f1;
position:absolute;
}
#web
{
position:absolute;
top:3px;
left:50px;
font-family:arial;
color:white;
font-size:12px;
}
#map
{
position:absolute;
top:3px;
left:80px;
font-family:arial;
color:white;
font-size:12px;
}
#news
{
position:absolute;
top:3px;
left:115px;
font-family:arial;
color:white;
font-size:12px;
}
#orkut
{
position:absolute;
top:3px;
left:150px;
font-family:arial;
color:white;
font-size:12px;
}
#translate
{
position:absolute;
top:3px;
left:185px;
font-family:arial;
color:white;
font-size:12px;
}
#book
{
position:absolute;
top:3px;
left:240px;
font-family:arial;
color:white;
font-size:12px;
}
#gmail
{
position:absolute;
top:3px;
left:280px;
font-family:arial;
color:white;
font-size:12px;
}
#more
{
position:absolute;
top:3px;
left:315px;
font-family:arial;
color:white;
font-size:12px;
}
#uid
{
position:absolute;
top:3px;
left:440px;
font-family:arial;
color:white;
font-size:12px;
}
#bar1
{
position:absolute;
top:3px;
left:590px;
font-family:arial;
color:white;
font-size:12px;
}
#settings
{
position:absolute;
top:3px;
left:600px;
font-family:arial;
color:white;
font-size:12px;
}
#bar2
{
position:absolute;
top:3px;
left:650px;
font-family:arial;
color:white;
font-size:12px;
}
#older
{
position:absolute;
top:3px;
left:660px;
font-family:arial;
color:white;
font-size:12px;
}
#bar3
{
position:absolute;
top:3px;
left:735px;
font-family:arial;
color:white;
font-size:12px;
}
#signout
{
position:absolute;
top:3px;
left:745px;
font-family:arial;
color:white;
font-size:12px;
}
#mainimg
{
background-image:url("..\images\logo.gif");
	position:absolute;
	top:25px;
	left:50px;
	width:118px;	
	height:40px;
}
#box1
{
position:absolute;
top:35px;
left:175px;
height:20px;
width:35px;
background:#c9d7f1;
font-family:arial;
font-size:12px;
color:white;
}
#home
{
position:absolute;
top:3px;
left:3px;
font-family:arial;
font-size:12px;
color:white;
}
#box2
{
position:absolute;
top:35px;
left:220px;
height:20px;
width:40px;
background:#c9d7f1;
font-family:arial;
font-size:12px;
color:white;
}
#profile
{
position:absolute;
top:3px;
left:3px;
font-family:arial;
font-size:12px;
color:white;
}
#box3
{
position:absolute;
top:35px;
left:270px;
height:20px;
width:43px;
background:#c9d7f1;
font-family:arial;
font-size:12px;
color:white;
}
#scraps
{
position:absolute;
top:3px;
left:3px;
font-family:arial;
font-size:12px;
color:white;
}
#box4
{
position:absolute;
top:35px;
left:320px;
height:20px;
width:75px;
background:#c9d7f1;
font-family:arial;
font-size:12px;
color:white;
}
#communities
{
position:absolute;
top:3px;
left:3px;
font-family:arial;
font-size:12px;
color:white;
}
#box5
{
position:absolute;
top:35px;
left:405px;
height:20px;
width:75px;
background:#c9d7f1;
font-family:arial;
font-size:12px;
color:white;
}
#applications
{
position:absolute;
top:3px;
left:3px;
font-family:arial;
font-size:12px;
color:white;
}
#box6
{
position:absolute;
top:35px;
left:490px;
height:20px;
width:45px;
background:#c9d7f1;
font-family:arial;
font-size:12px;
color:white;
}
#themes
{
position:absolute;
top:3px;
left:3px;
font-family:arial;
font-size:12px;
color:white;
}
#search
{
position:absolute;
top:35px;
left:700px;
}
#search1
{
position:absolute;
top:35px;
left:850px;
height:20px;
width:45px;
font-family:arial;
font-size:12px;
color:white;
}
#center
{
position:absolute;
left:190px;
top:70px;
width:500px;
height:70px;
background:white;
}
#say
{
position:absolute;
left:7px;
top:3px;
font-family:arial;
font-size:13px;
color:grey;
}
#post
{
position:absolute;
left:400px;
top:35px;
}
#cancel
{
position:absolute;
left:440px;
top:35px;
}
#center1
{
position:absolute;
left:190px;
top:160px;
width:500px;
height:500px;
background:white;
}
#left
{
position:absolute;
left:20px;
top:70px;
width:145px;
height:150px;
}


#left1
{
position:absolute;
left:20px;
top:240px;
width:155px;
height:600px;
background:white;
}
#shruti
{
position:absolute;
left:10px;
top:5px;
width:140px;
height:50px;
font-family:arial;
font-size:17px;
color:black;
}
#allupdates
{
position:absolute;
left:15px;
top:40px;
width:140px;
height:50px;
font-family:arial;
font-size:12px;
color:black;
}
#myupdates
{
position:absolute;
left:15px;
top:70px;
width:140px;
height:50px;
font-family:arial;
font-size:12px;
color:black;
}
#profile1
{
position:absolute;
left:15px;
top:100px;
width:140px;
height:50px;
font-family:arial;
font-size:12px;
color:black;
}
#reminders
{
position:absolute;
left:15px;
top:130px;
width:140px;
height:50px;
font-family:arial;
font-size:12px;
color:black;
}
#scraps1
{
position:absolute;
left:15px;
top:160px;
width:140px;
height:50px;
font-family:arial;
font-size:12px;
color:black;
}
#photos
{
position:absolute;
left:15px;
top:190px;
width:140px;
height:50px;
font-family:arial;
font-size:12px;
color:black;
}

#right
{
position:absolute;
left:700px;
top:70px;
width:300px;
height:250px;
background:white;
}
#right1
{
position:absolute;
left:700px;
top:340px;
width:300px;
height:250px;
background:white;
}
#right2
{
position:absolute;
left:700px;
top:610px;
width:300px;
height:250px;
background:white;
}
#right3
{
position:absolute;
left:700px;
top:880px;
width:300px;
height:250px;
background:white;
}
#bottom
{
position:absolute;
left:0px;
top:1200px;
width:1000px;
height:30px;
background:white;
}
#go
{
position:absolute;
left:3px;
top:2px;
font:family:arial;
color:red;
}
#bar4
{
position:absolute;
left:110px;
top:2px;
color:blue
}
#about
{
position:absolute;
left:120px;
top:2px;
font:family:arial;
color:red;
}
#bar5
{
position:absolute;
left:200px;
top:2px;
color:blue;
}
#blog
{
position:absolute;
left:210px;
top:2px;
font:family:arial;
color:red;
}
#bar6
{
position:absolute;
left:245px;
top:2px;
color:blue;
}
#developers
{
position:absolute;
left:255px;
top:2px;
font:family:arial;
color:red;
}
#bar7
{
position:absolute;
left:335px;
top:2px;
color:blue;
}
#safety
{
position:absolute;
left:345px;
top:2px;
font:family:arial;
color:red;
}
#bar8
{
position:absolute;
left:430px;
top:2px;
color:blue;
}
#privacy
{
position:absolute;
left:440px;
top:2px;
font:family:arial;
color:red;
}
#bar9
{
position:absolute;
left:495px;
top:2px;
color:blue;
}
#terms
{
position:absolute;
left:505px;
top:2px;
font:family:arial;
color:red;
}
#bar10
{
position:absolute;
left:545px;
top:2px;
color:blue;
}
#advertise
{
position:absolute;
left:555px;
top:2px;
font:family:arial;
color:red;
}
#bar11
{
position:absolute;
left:620px;
top:2px;
color:blue;
}
#help
{
position:absolute;
left:630px;
top:2px;
font:family:arial;
color:red;
}