
	body
	{
	position:absolute;
	margin-left:5px;
	}
	#mainimg
	{
	background-image:url('../images/logo.gif');
	position:absolute;
	top:10px;
	left:35px;
	width:225px;	
	height:100px;
	 }
	#loginbox
	{
	background:#e8eefa;
	position:absolute;
	left:700px;
	top:100px;
	width:280px;
	height:220px;
	margin:10px;
	border:2px solid;
	border-color:blue;
	}
	#sign
	{
	position:absolute;
	top:25px;
	position:center;
	font-family:arial;
	font-size:12px;
	font-color:black;
	}
	#google
	{
	background-image:url("../images/google.gif");
	top:20px;
	width:60px;
	height:35px;
	left:70px;
	position:absolute;
	background-repeat:no-repeat;
	}
	#acc
	{
	position:absolute;
	left:130px;
	top:22px;
	width:60px;
	font-family:arial;
	font-size:17px;
	}
	#email
	{
	position:absolute;
	left:50px;
	top:50px;
	width:60px;
	font-family:arial;
	font-size:15px;
	}
	#text
	{
	position:absolute;
	left:100px;
	top:50px;
	width:60px;
	}
	#uid
	{
	position:absolute;
	left:100px;
	top:75px;
	width:100px;
	font-family:arial;
	font-size:10px;
	color:red;
	}
	#pass
	{
	position:absolute;
	left:20px;
	top:90px;
	width:60px;
	font-family:arial;
	font-size:15px;
	}
	#pass1
	{
	position:absolute;
	left:100px;
	top:90px;
	width:60px;
	}
                #pwd
	{
	position:absolute;
	left:100px;
	top:115px;
	width:150px;
	font-family:arial;
	font-size:10px;
	color:red;
	}
	#signin
	{
	position:absolute;
	left:110px;
	top:135px;
	width:80px;
	font-family:arial;
	font-size:12px;
	}
	#plz
	{
	position:absolute;
	left:105px;
	top:160px;
	width:150px;
	font-family:arial;
	font-size:10px;
	color:red;
	}
	#access
	{
	position:absolute;
	left:75px;
	top:175px;
	width:150px;
	font-family:arial;
	font-size:10px;
	}
	#loginbox1
	{
	background:#e8eefa;
	position:absolute;
	left:700px;
	top:340px;
	width:270px;
	height:100px;
	margin:10px;
	border:5px;
	border-style:solid;
	border-color:white;
	outline:2px;
	outline-color:#c7dfec;
	outline-style:solid;
	}
	#create
	{
	position:absolute;
	left:70px;
	top:40px;
	width:120px;
	height:20px;
	font-family:arial;
	font-size:12px;	
	}
	#just
	{
	font-family:arial;
	font-size:15px;
	position:absolute;
	top:180px;
	left:180px;
	width:500px;
	height:100px;
	}
	#share
	{
	font-family:arial;
	font-size:13px;
	position:absolute;
	top:200px;
	left:180px;
	width:500px;
	height:100px;
	line-height:90%
	}
	#get
	{
	font-family:arial;
	font-size:15px;
	position:absolute;
	top:250px;
	left:180px;
	width:500px;
	height:100px;
	}
	#chat
	{
	font-family:arial;
	font-size:13px;
	position:absolute;
	top:270px;
	left:180px;
	width:500px;
	height:100px;
	line-height:90%;
	}
	#have
	{
	font-family:arial;
	font-size:15px;
	position:absolute;
	top:310px;
	left:180px;
	width:500px;
	height:100px;
	line-height:90%;
	}
	#easily
	{
	font-family:arial;
	font-size:13px;
	position:absolute;
	top:330px;
	left:180px;
	width:500px;
	height:100px;
	line-height:90%;
	}
	#orkut
	{
	font-family:arial;
	font-size:13px;
	position:absolute;
	top:430px;
	left:90px;
	width:600px;
	height:20px;
	}
	#new
	{
	font-family:arial;
	font-size:14px;
	position:absolute;
	top:460px;
	left:300px;
	width:600px;
	height:20px;
	}
	form .error {
  color: #ff0000;
		font-family: Verdana;
		font-size: 8px;
}